* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
}

/* Section principale */
.hero {
    height: 100vh;
    /*background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");*/
    background-image: url("https://serge-henri.com/reportages/jaligny/photos/001.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Filtre sombre pour lisibilité */
.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px;
}

.overlay h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.overlay p {
    max-width: 700px;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Bouton */
.btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: white;
    color: black;
}
